# Virtual environment
venv/

# Python compiled files
__pycache__/
*.pyc

# Local environment variables
.env

# Uploads/temporary files
temp_uploads/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db